body {
    background-color: black;
}

.character {
    background-color: rgba(24, 21, 21, 0.806);
    border-radius: 10px;
    width: 250px;
    height: 250px;
}

.stats {
    font-family: 'Metal Mania', cursive;
    font-size: 40px;
    color: crimson;
}

