body {
    background-color: rgba(0, 0, 0, 0.798);
}

.points {
    color: crimson;
    font-size: x-large;
    font-family: sans-serif;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

.points span {
    color: #3b719d;
}


.table {
    background-color: #00000038;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    width: 50%;
    margin: 10px 0px 10px 0px;
}

.table img {
    height: 248px;
    width: 248px;
}

.table .nameAndCost {
    color: red;
    font-weight: bold;
    margin: 0px;
    width: 60%;
    text-align: left;
}

.table .nameAndCost p:first-of-type {
    font-size: 24px;
}

.table .amount  {
    font-size: 48px;
    color: #3b719d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 15%;
}

.table tr td {
    vertical-align: middle;
    padding: 10px;
}

.unselectable {
    user-select: none;
}
